<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">About us</h1>
    <p class="lead text-muted">
      We're The Malmo Festival - a warm, friendly and sustainable festival and that has taken the city of Malmö for a wild dance
      one week every year since 1985. Right in the heart of the city you will experience everything from ground breaking
      art, music and culture to a variety of food that reflects the intercultural vibes and people of Malmo.
    </p>
    <p>
      <a href="#" class="btn btn-primary">Read more</a>
    </p>
  </div>
</section>