
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color:#343A40;
}

.social-media {
  width: 100%;
  margin: 0;
}

.social-media li {
  float: left;
  display: inline;
  width: 30%;
  color: #ffffff;
  position: relative;
}

.social-media li i {
  font-size: 50px;
  float: left;
  width: 60px;
}

.social-media li a {
  color: #ffffff;
  padding: 25px 65px 25px 40px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.social-media li a:hover {
  text-decoration: none;
}

.social-media li p {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 2px 0 0px;
}

.social-media li.facebook {
  background-color: #4d6bab;
}

.social-media li.youtube {
  background-color: #cc181e;
}
.social-media li.instagram {
  background-color: #ED4B34;
}