<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="social-media">
          <li class="facebook">
            <a href="https://www.facebook.com/malmofestivalen" target="_blank">
              <i class="fa fa-facebook"></i>
              <p>Follow us on facebook</p>
            </a>
          </li>
          <li class="youtube">
            <a href="https://www.youtube.com/user/malmofestivalen2011/" target="_blank">
              <i class="fa fa-youtube"></i>
              <p>Subscribe to our channel</p>
            </a>
          </li>
          <li class="instagram">
            <a href="https://www.instagram.com/malmofestivalen/" target="_blank">
              <i class="fa fa-instagram"></i>
              <p>Follow us on instagram</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>