<div class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-between">
    <a href="/" class="navbar-brand">
      <img src="../assets/logo.png" alt="Malmöfestivalen">
    </a>
  </div>
</div>
<section class="cover">
  <img src="../assets/malmo.png" alt="Malmofestivalen">
</section>