<div class="album">
  <div class="container">
    <h2 class="text-center">Our partners</h2>
    <div class="row">
      <div class="card">
        <img src="../assets/arena-305.png" alt="arena-305">
      </div>
      <div class="card">
        <img src="../assets/calsberg.png" alt="calsberg">
      </div>
      <div class="card">
        <img src="../assets/malmo-teater.png" alt="malmo-teater">
      </div>
      <div class="card">
        <img src="../assets/musik-syd.png" alt="musik-syd" >
      </div>
      <div class="card">
        <img src="../assets/rix-fm.png" alt="rix-fm">
      </div>
      <div class="card">
        <img src="../assets/scandic.png" alt="scandic">
      </div>
      <div class="card">
        <img src="../assets/spegeln.png" alt="spegeln">
      </div>
      <div class="card">
        <img src="../assets/svenska-kyrkan.png" alt="svenska-kyrkan">
      </div>
      <div class="card">
        <img src="../assets/vasyd.png" alt="vasyd">
      </div>
    </div>
  </div>
</div>
