.album {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

h2 {
    margin-bottom: 30px;
}

.card {
  float: left;
  width: 33.333%;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
  width: 215px;
  height: 78px;
}