<div class="album">
  <div class="container">
    <h2 class="text-center">Gallery</h2>
    <div class="row">
      <div class="card text-muted" *ngFor="let post of posts | paginate: {itemsPerPage: 6, currentPage:page}">
        <img [src]="post.enclosure[0].$.url" alt="" class="img-fluid">
        <h3>{{ post.title }}</h3>
        <p>{{ post.pubDate | date }}</p>
        <p class="card-text">{{ post.description | htmlToTextRender }}</p>
      </div>
    </div>
    <div class="text-center">
      <pagination-controls (pageChange)="page = $event"   directionLinks="true" autoHide="true"></pagination-controls>`
    </div>
  </div>
</div>